.featured-items-container {
  background: url('../../assets/kirby-star-allies-bg.jpeg');
  background-position: center center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

.game-images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.caret-btn {
  display: none;
}

.caret-btn i {
  transform: scale(3.5);
}

.clickable-images-container {
  padding: 20px;
  background-color: white;
}

.circle-nav-container {
  display: flex;
  max-width: 100px;
  margin: 20px auto 0px auto;
  justify-content: space-between;
}

.circle-nav {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
}

.clickable-images-container {
  margin: 0 auto;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.clickable-images-container:hover {
  cursor: pointer;
}

.game-image {
  width: 100%;
  max-height: 100%;
}


.active {
  background-color: rgb(255, 163, 184);;
}

@media screen and (min-width: 800px) {
  .caret-btn {
    display: block;
    padding: 15px;
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: hotpink;
    border: 3px solid black;
  }

  .caret-btn > i {
    color: white;
  }

  .caret-btn:hover {
    background-color: rgb(235, 59, 117);
  }

  .clickable-images-container {
    width: 80%;
    height: auto;
    aspect-ratio: 1.777 / 1;
    background-color: white;
    border: 5px solid black;
  }  

  .clickable-images-container > img {
    display: block;
    max-height: 100%;
    width: auto;
  }

  .game-image {
    display: block;
    width: 85%;
    margin: 0 auto;
  }

  .circle-nav-container {
    display: none;
  }
}