.landing-screen {
  background: url('../../assets/kirby-screen.png');
  height: 85vh;
  background-size: cover;
  background-position: center center;
}

.container {
  position: relative;
  height: 100%;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.store-information {
  z-index: 2;
}

.kirby-logo {
  width: 80%;
  max-width: 800px;
}

.subheader {
  font-size: 64px;
  margin-top: 0px;
  color: rgb(242, 242, 242);
  text-shadow:
    5px 5px 0 #000,
    -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}

.stars {
  position: absolute;
  height: 80%;
  left: -30%;
}

.trail-animation {
  animation: 5s linear infinite TrailAnimation;
}

@keyframes TrailAnimation {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@media screen and (min-width: 800px) {
  .stars {
    position: absolute;
    height: 100%;
    width: auto;
    left: -15%;
    top: -10%;
  }
}