.header {
  font-size: 72px;
  margin-top: 0px;
  color: rgb(242, 242, 242);
  text-shadow:
    5px 5px 0 #000,
    -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
  text-decoration: underline;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}