.header {
  background-color: rgb(255, 163, 184);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.opaque {
  opacity: 90%;
}

.container-header {
  width: 80%;
  max-width: 1400px;
  padding: 15px 0px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.container-header a:hover {
  text-decoration: none;
}

.container-header span {
  padding-bottom: 3px;
  background: linear-gradient(0deg, black, black) bottom center no-repeat;
  background-size: 0px 3px;
  transition: background-size 0.3s;
  text-decoration: none;
}

.container-header span:hover {
  background-size: 100% 3px;
}

.container-header > * {
  height: 40px;
}

.kirby-logo {
  height: 100%;
  width: auto;
}

i:hover {
  cursor: pointer;
}

.search-bar-form {
  background-color: white;
  display: flex;
  min-width: 50%;
  width: fit-content;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.search-bar-form input {
  width: 85%;
  border-radius: 20px;
  padding-left: 20px;
  height: 100%;
  font-size: 18px;
  border: none;
}

.search-bar-form input:focus {
  outline: none;
}

.search-bar-form button {
  height: 85%;
  aspect-ratio: 1 / 1;
  background-color: #e4000f;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 5px;
}

.search-bar-form button i {
  color: white;
}

.profile-cart-container {
  display: flex;
  align-items: center;
}

.profile-cart-container > *:first-child{
  margin-left: auto;
}

/* for logos on the right side */
.profile-cart-container span {
  display: none;
}

.profile-cart-container > *:not(:last-child){
  margin-right: 24px;
}

.profile-cart-container * {
  color: black;
  text-decoration: none;
}

.cart-icon-container, .profile-cart-container a {
  height: 32px;
}

.profile-cart-container a {
  display: flex;
  align-items: center;
}

.cart-icon-container {
  position: relative;
}

.cart-quantity {
  margin: 0;
  position: absolute;
  background-color: red;
  border: 1px solid black;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

.less-than-two-digits {
  bottom: -10%;
  right: -10%;
  width: 20px;
  aspect-ratio: 1 / 1;
}

.three-digits {
  bottom: -10%;
  right: -20%;
}

.cart-icon {
  display: inline-block;
  height: 100%;
}

.desktop-icon-container {
  display: none !important;
}

.mobile-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .container-header > * {
    flex: 1;
  }
  
  .mobile-icon-container {
    display: none !important;
  }

  .desktop-icon-container {
    display: flex !important;
  }

  .container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

}

@media screen and (min-width: 1200px) {
  .profile-cart-container span {
    margin-left: 8px;
    display: inline;
    font-size: 18px;
  }

  .container-header {
    padding: 20px 0px;
  }

  .container-header > * {
    height: 50px;
  }

  .search-bar-form {
    min-width: 35%;
  }

  .search-bar-form input {
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
  }
  
  .search-bar-form button{
    background-color: #e4000f;
  }

  .search-bar-form button i {
    transform: scale(1.33);
  }
}
