.header {
  background-color: rgb(255, 163, 184);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container-header {
  width: 90%;
  max-width: 1400px;
  height: 100%;
  padding: 15px 0px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-header > * {
  height: 40px;
  flex: 1;
}

.kirby-logo {
  height: 100%;
  width: auto;
}

.search-bar-form {
  min-width: 50%;
  width: fit-content;
}

.search-bar-form > * {
  height: 100%;
}

.search-bar-form input {
  width: 85%;
  padding-left: 10px;
}

.search-bar-form button{
  width: 15%;
  background-color: #e4000f;
}

.profile-cart-container {
  display: flex;
  align-items: center;
}

.profile-cart-container > *:first-child{
  margin-left: auto;
}

/* for logos on the right side */
.profile-cart-container span {
  display: none;
}

.profile-cart-container > *:not(:last-child){
  margin-right: 24px;
}

.profile-cart-container * {
  color: black;
  text-decoration: none;
}

.profile-cart-container a {
  height: 28px;
  display: flex;
  align-items: center;
}

.cart-icon-container {
  height: 28px;
  position: relative;
}

.cart-quantity {
  margin: 0;
  position: absolute;
  background-color: red;
  border: 1px solid black;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

.less-than-two-digits {
  bottom: -10%;
  right: -10%;
  width: 20px;
  aspect-ratio: 1 / 1;
}

.three-digits {
  bottom: -10%;
  right: -20%;
}

.cart-icon {
  display: inline-block;
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .profile-cart-container span {
    margin-left: 8px;
    display: inline;
    font-size: 18px;
  }

  .container-header {
    padding: 20px 0px;
  }

  .container-header > * {
    height: 50px;
  }

  .search-bar-form input {
    width: 90%;
    padding-left: 10px;
  }
  
  .search-bar-form button{
    width: 10%;
    background-color: #e4000f;
  }

}
