script.
  function redirectAddProduct() {
    window.location.href = "/admin/add/";
  }
  function redirectCategories(){
    window.location.href = "/admin/categories";
  }
div.action-btns
  button(
    method="GET"
    onclick=`redirectAddProduct()`
  ) Add Products 
  button(
    method="GET"
    onclick=`redirectCategories()`
  ) Add Categories