link(rel='stylesheet', href='/stylesheets/header.css')
header.header
  a(href="/")
    img(src= "/images/kirby-logo.png"
      alt = "Kirby Logo")
  div.search-bar-container
    form.searchbar(method="GET" action = "/admin") 
      input(
        name = "filter"
        type= "text"
        placeholder= "Enter Product")
      button(
        type= "Submit"
      ) Search
  div 
    p Admin