.card {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 30px 20px;
  background-color: white;
}

.card > img {
  max-width: 100%;
  border-bottom: 1px solid black;
}

.product-name {
  margin: 0;
  margin-top: 10px;
  font-size: 48px;
}

.price {
  margin: 0;
  font-size: 24px;
  font-family: 'Inter', 'Times New Roman', 'Sans Serif';
}