.header {
  font-size: 48px;
  margin-top: 0px;
  color: rgb(242, 242, 242);
  text-shadow:
    5px 5px 0 #000,
    -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
  text-decoration: underline;
  transform: translateX(-100%);
}

.header.visible {
  transform: translateX(0%);
  transition: transform 1s ease-in;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .header {
    font-size: 72px;
  }
}