a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.footer {
  background-color: lightgreen;
  padding-top: 48px;
  padding-bottom: 60px;
  position: relative;
}

.sleeping-kirby {
  position: absolute;
  visibility: hidden;
  width: 200px;
  bottom: 10%;
  left: 5%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  position: relative;
  width: 100%;
  text-align: center;
}

.col h3 {
  margin: 0;
  padding: 10px 0px;
  width: 100%;
  border: 1px solid black;
  position: relative;
}

.col h3 i {
  position: absolute;
  right: 5%;
}

.col ul {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  border: 1px solid black;
  border-top: none;
  margin: 0;
}

.col.mobile-collapsed ul {
  display: none;
}

.col ul li {
  list-style: none;
  margin-left: 0;
  font-size: 18px;
  font-family: 'Bubblegum Sans', cursive;
}

.social-media-links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-media-links a {
  text-decoration: none;
  color: black;
}

.social-media-links a i {
  transform: scale(1.5);
}

.col h3:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .col h3 {
    font-size: 24px;
  }
}

/*desktop responsiveness*/
@media screen and (min-width: 800px) {
  .sleeping-kirby {
    visibility: visible;
  }

  .footer {
    min-height: 35vh;
    background: url('../assets/green-landscape-photoshopped.jpg');
    background-position: center center;
    background-size: cover;
  }

  .col h3:hover {
    cursor: default;
  }

  .footer-container {
    width: 80%;
    max-width: 800px; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .col {
    width: auto;
  }
  
  .col h3 {
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 3px;
    text-align: left;
    margin: 0;
    border: none;
  }

  .col h3 > i {
    display: none;
  }
  
  .col ul {
    margin: 0px;
    border: none;
  }

  .col ul li {
    text-align: left;
    font-size: 24px;
  }

  .col ul li:not(:first-child) {
    margin-top: 4px;
  }

  .col.mobile-collapsed ul {
    display: block;
  }

  .social-media-links {
    justify-content: space-between;
  }
}