.subheader {
  background-color: rgba(255, 0, 58, 50%);
  display: none;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0px;
}

.container > ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container > ul > li {
  text-decoration: none;
}

.container > ul > li > a {
  font-family: "Bubblegum Sans", cursive;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

/* underline animation effect */
.container > ul > li > a {
  padding-bottom: 5px;
  background: linear-gradient(0deg, black, black) bottom center no-repeat;
  background-size: 0px 3px;
  transition: background-size 0.5s;
  text-decoration: none;
}

.container > ul > li > a:hover {
  background-size: 100% 3px;
}

@media screen and (min-width: 800px) {
  .subheader {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 15px 0px;
  }
}
