.cart-section, .no-items-container {
  background-color: rgb(255, 221, 226);
  min-height: 60vh;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  padding: 40px 0px;
}

.cart-item-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.no-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-items-container h1 {
  text-align: center;
  font-size: 36px;
}

.no-items-container button {
  padding: 20px;
  font-size: 24px;
}

.cart-item-header h1 {
  font-size: 16px;
  margin: 12px 0px;
}

.cart-item-header, .cart-item, .cart-item-footer {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr 1fr;
  column-gap: 20px;
}

.cart-item:last-of-type{
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.cart-item {
  margin-top: 30px;
}

.quantity-container {
  position: relative;
}

.quantity-container {
  display: flex;
  flex-direction: column;
}

.quantity-container > :nth-child(n+2), .quantity-input-container > *:nth-child(n + 2){
  margin-top: 7.5px;
}

.quantity-container input {
  text-align: center;
}

.quantity-input-container {
  text-align: center;
  font-family: 'KirbyClassic', cursive;
  position: relative;
}

.quantity-input-container > * {
  width: 100%;
}

.focused {
  z-index: 2;
}

.quantity-select {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: absolute;
}

.quantity-select:hover {
  cursor: pointer;
}

.quantity-select, .quantity-select option {
  font-size: 12px !important;
}

.quantity-select option {
  font-family: 'KirbyClassic', cursive;
}


.quantity-container > * {
  width: 100%;
}


.product-image-name-container {
  display: flex;
  flex-direction: column;
}

.product-image-name-container * {
  display: block;
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}

.product-image-name-container p {
  margin-left: 0px;
}

.cart-item * {
  font-size: 12px;
  margin: 0;
}

.footer-contents {
  grid-column: 4;
}

.footer-contents > h1 {
  margin: 0;
  margin-bottom: 12px;
}

.footer-contents button {
  width: 100%;
}

.product-image-name-container > img {
  background-color: white;
  border: 1px solid black;
}

.product-image-name-container > p {
  margin: 0;
  margin-top: 4px;
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  .quantity-select {
    width: 70%;
  }

  .quantity-select, .quantity-select option {
    font-size: 16px !important;
  }
  .cart-item * {
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  .quantity-select, .quantity-select option {
    font-size: 18px !important;
  }

  .product-image-name-container > p {
    font-size: 16px;
    overflow: hidden;
  }

  .cart-item-header h1 {
    font-size: 24px;
  }

  .cart-item * {
    font-size: 24px;
  }

  .quantity-container > input {
    font-size: 24px;
  }

  .quantity-container > * {
    width: 70%;
  }

  .footer-contents > * {
    font-size: 30px;
  }

  .product-image-name-container {
    display: flex;
    flex-direction: row;
  }
  
  .product-image-name-container > p {
    margin: 0;
    margin-left: 10px;
    width: 40%;
    font-size: 1px;
  }
  
  .product-image-name-container > img {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    width: 60%;
  }

  .underneath-select {
    top: 20%;
  }
}

@media screen and (min-width: 1100px) {
  .quantity-select, .quantity-select option {
    font-size: 24px !important;
  }

  .product-image-name-container > img {
    width: 30%;
  }

  .product-image-name-container > p {
    width: 70%;
    font-size: 14px;
  }

  .quantity-container > * {
    width: 50%;
  }

  .underneath-select {
    top: 30%;
  }
}